In [1]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-PY0221EN-Coursera/labs/v2/INSTRUCTOR.csv
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-PY0221EN-Coursera/labs/v2/Departments.csv

--2025-07-24 04:45:45--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-PY0221EN-Coursera/labs/v2/INSTRUCTOR.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 387 [text/csv]
Saving to: ‘INSTRUCTOR.csv’

INSTRUCTOR.csv      100%[===================>]     387  --.-KB/s    in 0s

2025-07-24 04:45:45 (99.9 MB/s) - ‘INSTRUCTOR.csv’ saved [387/387]

--2025-07-24 04:45:45--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-PY0221EN-Coursera/labs/v2/Departments.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 88 [text/csv]
Saving to: ‘Departments.csv’

Departments.csv     100%[===================>]      88  --.-KB/s    in 0s

2025-07-24 04:45:45 (61.9 MB/s) - ‘Departments.csv’ saved [88/88]

In [5]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('STAFF.db')
table_name = 'INSTRUCTOR'
attribute_list = ['ID','FNAME','LNAME','CITY','CCODE']
file_path = '/content/INSTRUCTOR.csv'
df = pd.read_csv(file_path,names = attribute_list )
df.to_sql(table_name,conn,if_exists ='replace', index= False)
print('Table is ready')

query_statement = f"SELECT * FROM {table_name}"
query_output = pd.read_sql(query_statement,conn)
print(query_statement)
print(query_output)

query_statement = f"SELECT FNAME FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

query_statement = f"SELECT COUNT(*) FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

data_dict = {'ID':[100],'FNAME': ['John'],'LNAME':['Doe'],'CITY':['Paris'],'CCODE':['FR']}
data_append = pd.DataFrame(data_dict)
data_append.to_sql(table_name,conn,if_exists ='append',index=False)
print('Data appended')

query_statement = f"SELECT COUNT(*) FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

table_name2 = 'Departments'
attribute_list2 = ['DEPT_ID','DEP_NAME','MANAGER_ID','LOC_ID']
file_path2 = '/content/Departments.csv'
df2 = pd.read_csv(file_path2,names = attribute_list2 )
df2.to_sql(table_name2,conn,if_exists ='replace', index= False)

data_dict2 = {'DEPT_ID':[9],'DEP_NAME': ['Quality Assurance'],'MANAGER_ID':['30010'],'LOC_ID':['L0010']}
data_append2 = pd.DataFrame(data_dict2)
data_append2.to_sql(table_name2,conn,if_exists ='append',index=False)
print('Data appended')

query_statement = f"SELECT * FROM {table_name2}"
query_output = pd.read_sql(query_statement,conn)
print(query_statement)
print(query_output)

query_statement = f"SELECT DEP_NAME FROM {table_name2}"
query_output = pd.read_sql(query_statement,conn)
print(query_statement)
print(query_output)

query_statement = f"SELECT COUNT(*) FROM {table_name2}"
query_output = pd.read_sql(query_statement,conn)
print(query_statement)
print(query_output)
conn.close()

Table is ready
SELECT * FROM INSTRUCTOR
    ID    FNAME      LNAME      CITY CCODE
0    1      Rav      Ahuja   TORONTO    CA
1    2     Raul      Chong   Markham    CA
2    3     Hima  Vasudevan   Chicago    US
3    4     John     Thomas  Illinois    US
4    5    Alice      James  Illinois    US
5    6    Steve      Wells  Illinois    US
6    7  Santosh      Kumar  Illinois    US
7    8    Ahmed    Hussain  Illinois    US
8    9    Nancy      Allen  Illinois    US
9   10     Mary     Thomas  Illinois    US
10  11  Bharath      Gupta  Illinois    US
11  12   Andrea      Jones  Illinois    US
12  13      Ann      Jacob  Illinois    US
13  14     Amit      Kumar  NewDelhi    IN
SELECT FNAME FROM INSTRUCTOR
      FNAME
0       Rav
1      Raul
2      Hima
3      John
4     Alice
5     Steve
6   Santosh
7     Ahmed
8     Nancy
9      Mary
10  Bharath
11   Andrea
12      Ann
13     Amit
SELECT COUNT(*) FROM INSTRUCTOR
   COUNT(*)
0        14
Data appended
SELECT COUNT(*) FROM INSTRUCTOR
   COUNT(*)
0        15
Data appended
SELECT * FROM Departments
   DEPT_ID           DEP_NAME  MANAGER_ID LOC_ID
0        2    Architect Group       30001  L0001
1        5     Software Group       30002  L0002
2        7        Design Team       30003  L0003
3        9  Quality Assurance       30010  L0010
SELECT DEP_NAME FROM Departments
            DEP_NAME
0    Architect Group
1     Software Group
2        Design Team
3  Quality Assurance
SELECT COUNT(*) FROM Departments
   COUNT(*)
0         4